<a href="https://colab.research.google.com/github/hariharihi/Data-Science-for-Everybody/blob/main/5_1_%ED%8C%8C%EC%9D%B4%EC%8D%AC_EDA_pandas_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 라이브러리 로드

In [ ]:
# 데이터 분석을 위한 pandas 라이브러리를 불러옵니다.
# 데이터 시각화를 위한 seaborn 을 불러옵니다.

import pandas as pd
import seaborn as sns

In [ ]:
print(pd.__version__)
print(sns.__version__)

1.1.5
0.11.2

In [ ]:
# 0.11.0 버전에서 변화가 많으니 이 버전 이상을 사용해 주세요. 
# !pip install seaborn --upgrade

## 데이터셋 불러오기
<img src="https://pandas.pydata.org/docs/_images/02_io_readwrite.svg">

* seaborn 데이터셋 위치 : https://github.com/mwaskom/seaborn-data

In [ ]:
# df
#자동차 연비 dataset 불러오기 'mpg'(mile per gallon)

#a. sns.load_dataset('mpg')
#b. 
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/mpg.csv')
print(df)

#행과 열의 수 파악하기
df.shape

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

(398, 9)

In [ ]:
# index 값만 보기
df.index

RangeIndex(start=0, stop=398, step=1)

In [ ]:
# columns 값만 보기
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [ ]:
# values 값만 보기
df.values

array([[18.0, 8, 307.0, ..., 70, 'usa', 'chevrolet chevelle malibu'],
       [15.0, 8, 350.0, ..., 70, 'usa', 'buick skylark 320'],
       [18.0, 8, 318.0, ..., 70, 'usa', 'plymouth satellite'],
       ...,
       [32.0, 4, 135.0, ..., 82, 'usa', 'dodge rampage'],
       [28.0, 4, 120.0, ..., 82, 'usa', 'ford ranger'],
       [31.0, 4, 119.0, ..., 82, 'usa', 'chevy s-10']], dtype=object)

In [ ]:
# 데이터 타입만 보기
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model_year        int64
origin           object
name             object
dtype: object

## 데이터셋 일부만 가져오기

In [ ]:
# head 을 통해 일부만 가져오기

#df는 기본적으로 위에서 5개, 아래에서 5개 보여준다

df.head() #기본으로 앞에서 5개
df.head(6) #숫자 지정 가능

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino
5  15.0          8         429.0  ...          70     usa           ford galaxie 500

[6 rows x 9 columns]

In [ ]:
# tail 을 통해 일부만 가져오기

df.tail() #기본으로 앞에서 5개
df.tail(4)

      mpg  cylinders  displacement  ...  model_year  origin           name
394  44.0          4          97.0  ...          82  europe      vw pickup
395  32.0          4         135.0  ...          82     usa  dodge rampage
396  28.0          4         120.0  ...          82     usa    ford ranger
397  31.0          4         119.0  ...          82     usa     chevy s-10

[4 rows x 9 columns]

In [ ]:
# sample을 통해 일부만 가져오기
df.sample() #기본으로 1개 보여준다
df.sample(3) #갯수 지정 가능, 실행할 때마다 랜덤하게 가져온다
df.sample(3, random_state=0) #값 고정시키는 역할 (어떤 값을 넣어도 상관 x)

      mpg  cylinders  displacement  ...  model_year  origin                   name
65   14.0          8         351.0  ...          72     usa       ford galaxie 500
132  25.0          4         140.0  ...          74     usa         chevrolet vega
74   13.0          8         302.0  ...          72     usa  ford gran torino (sw)

[3 rows x 9 columns]

## 요약하기

In [ ]:
# info 를 통해 요약정보 보기
df.info()

#Non-Null Count: 데이터 갯수
  #horsepower만 결측치(missing value) 있음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

## 결측치 확인

In [ ]:
# 결측치 수 확인
  # na: not available의 약자
  # True일 때만 결측치로 판단
  # 둘 중에 하나 사용
df.isna()
df.isnull()

       mpg  cylinders  displacement  ...  model_year  origin   name
0    False      False         False  ...       False   False  False
1    False      False         False  ...       False   False  False
2    False      False         False  ...       False   False  False
3    False      False         False  ...       False   False  False
4    False      False         False  ...       False   False  False
..     ...        ...           ...  ...         ...     ...    ...
393  False      False         False  ...       False   False  False
394  False      False         False  ...       False   False  False
395  False      False         False  ...       False   False  False
396  False      False         False  ...       False   False  False
397  False      False         False  ...       False   False  False

[398 rows x 9 columns]

In [ ]:
# 결측치 비율 확인

#합
df.isnull().sum() #True는 값1과 같음
print(df.isnull().sum())

#비율
df.isnull().mean()
print(df.isnull().mean() * 100)  #백분위수로 보기

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64
mpg             0.000000
cylinders       0.000000
displacement    0.000000
horsepower      1.507538
weight          0.000000
acceleration    0.000000
model_year      0.000000
origin          0.000000
name            0.000000
dtype: float64

## 기술통계

In [ ]:
# describe 로 기술통계 확인하기
# std(standard deviation, 표준편차) / 일,이,삼사분위수
# object 값 나와있지 않음
df.describe()

              mpg   cylinders  ...  acceleration  model_year
count  398.000000  398.000000  ...    398.000000  398.000000
mean    23.514573    5.454774  ...     15.568090   76.010050
std      7.815984    1.701004  ...      2.757689    3.697627
min      9.000000    3.000000  ...      8.000000   70.000000
25%     17.500000    4.000000  ...     13.825000   73.000000
50%     23.000000    4.000000  ...     15.500000   76.000000
75%     29.000000    8.000000  ...     17.175000   79.000000
max     46.600000    8.000000  ...     24.800000   82.000000

[8 rows x 7 columns]

In [ ]:
# pandas에서는 str을 object로 표현
# object 값 파악
# unique: 중복을 제외한 유일값 / top(빈도 수 가장 많음)에 대한 frequency

df.describe(include='object')

       origin        name
count     398         398
unique      3         305
top       usa  ford pinto
freq      249           6

## Series

In [ ]:
df['mpg']

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [ ]:
type(df['mpg'])

pandas.core.series.Series

## DataFrame

In [ ]:
type(df)

pandas.core.frame.DataFrame

## 색인하기

* 열(column) 인덱싱
* [컬럼]
* [[컬럼1, 컬럼2, 컬럼3]]

In [ ]:
df['name'] #시리즈 형태로 출력: 컬럼은 [], 여러개 컬럼은 [[]]
print(df['name'])

df[['origin', 'name']]  #dataframe 형태로 출력
print(df[['origin', 'name']])

df[['name']]  #한 개의 컬럼이더라도 dataframe 형태로 출력
print(df[['name']])

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object
     origin                       name
0       usa  chevrolet chevelle malibu
1       usa          buick skylark 320
2       usa         plymouth satellite
3       usa              amc rebel sst
4       usa                ford torino
..      ...                        ...
393     usa            ford mustang gl
394  europe                  vw pickup
395     usa              dodge rampage
396     usa                ford ranger
397     usa                 chevy s-10

[398 rows x 2 columns]
                          name
0    chevrolet chevelle malibu
1            buick skylark 320
2           plymouth satellite
3                amc rebel sst
4                  ford torino
..                         ...
393            ford mustang gl
394                  vw pickup
395              dodge rampage
396                ford ranger
397                 chevy s-10

[398 rows x 1 columns]

## loc
* 행(index) 인덱싱
* .loc[행]
* .loc[행, 열]
* .loc[조건식, 열]

In [ ]:
# loc 로 하나의 행을 가져옵니다.
  # loc == locate

df.loc[0]

mpg                                    18
cylinders                               8
displacement                          307
horsepower                            130
weight                               3504
acceleration                           12
model_year                             70
origin                                usa
name            chevrolet chevelle malibu
Name: 0, dtype: object

In [ ]:
# loc로 2개의 행을 가져와 봅니다.
df.loc[[0, 1]]

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320

[2 rows x 9 columns]

In [ ]:
# loc로 행, 열을 가져와 봅니다.
df.loc[0, ['origin', 'name']]

origin                          usa
name      chevrolet chevelle malibu
Name: 0, dtype: object

In [ ]:
# loc로 여러개의 행, 열을 가져와 봅니다.
df.loc[[0, 1, 3], ['name', 'origin']]

                        name origin
0  chevrolet chevelle malibu    usa
1          buick skylark 320    usa
3              amc rebel sst    usa